.newlecture section,
.newlecture ul,
.newlecture form,
.newlecture p,
.newlecture table,
.newlecture header,
.newlecture main,
.newlecture footer {
  width: 90%;
  max-width: 40rem;

  background-color: #fff;

  margin: 2rem auto;
  padding: 1rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;

  text-align: center;
}

.newlecture caption {
}
.newlecture table {
  background-color: antiquewhite;
}

.newlecture section h1 {
  margin: 4px;
}

.newlecture div {
  width: 90%;
  max-width: 40rem;

  background-color: #f0f0f6;

  margin: 2rem auto;
  padding: 1rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;

  text-align: center;
}

.newlecture h1,
.newlecture section h1,
.newlecture header h1 {
  font-size: 24px;
}
