:root {
    /* ========== color palette ===========  */
    --color-main-0: #55027D;
    --color-main-0: #4E4BDD;
    --color-main-0: #FFD336;
    --color-main-0: #069F0A;
    --color-main-0: rgba(0, 0, 0, 0.6);
    --color-black-0:

        /* base color */

        /* radius size */
}